h1, h2, h3, p, ul, li {
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding-left: 8px;
}

li {
    margin-bottom: 4px;
}

.filesHeader {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    margin-bottom: 12px;
}

.fileDiv {
    border: 1px solid grey;
    padding: 0px 0px 8px 0px;    
}

.explorerHeader {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    padding: 4px 8px;
    margin-bottom: 8px;
}

.explorerHeader a, .filesHeader a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newFolderButton {
    margin-left: auto;
}
.explorerHeader  img, .filesHeader img {
    width: 18px;
}

.folderRow {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4px;
}

img {
    width: 24px;
}